@import "tailwindcss";

@theme {
  --color-brand-forest: #295B2D;
  --color-brand-leaf: #67A63A;
  --color-brand-sunrise: #F39C12;
  --color-brand-farmhouse: #B22222;
  
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply font-sans bg-[#F9FAFB] text-gray-800 antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-brand-forest;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #67A63A; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #295B2D; 
}